<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Seja bem vindo</h1>

    <table border="1">
        {% for piloto in pilotos %}
            {% if piloto == "t1"%}
                <tr>
                    <th><b>{{piloto}}</b></th></tr>
            {% else %}
                <tr>
                <td>{{piloto}}</td></tr>
            {%  endif %}
        {%endfor%}
    </table>
</body>
</html>